<div class="views">
  <div class="view view-main">
    <div class="pages navbar-fixed">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="popover popover-contacts popover-on-top" style="display: none; top: 390px; left: 146px;">
  <div class="popover-inner">
    <div class="list-block media-list">
      <ul>
        <li class="item-content">
          <div class="item-media"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Ali Connors</div>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-media"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Sandra Adams</div>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-media"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Trevor Hansen</div>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="item-link item-content bg-purple color-white ripple-white">
            <div class="item-media"><i class="icon ks-icon-edit"></i></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Add New</div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
